@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;500&display=swap");
:root {
  --textColorBlue: #526085;
  --btnLike: #56ae9e;
  --btnDisLike: #fe5e37;
  --backgroundColorLightBlue: #f3f3fb;
  --blueTextHeader: #5976d2;
  --btnRed: #f98264;
  --btnGreen: #36b9a7;
  --inputBorder: #bacbef;
}

.ResultsInEn {
  background-color: var(--backgroundColorLightBlue);
  padding: 1rem;
  margin: 0% 5rem;
  max-width: 50%;
  text-align: left;
  .resultHead {
    font-family: "Poppins";
    font-size: x-large;
    color: var(--blueTextHeader);
    text-align: left;
    display: inline;
    font-size: 30px;
    padding: 10px;
    margin-left: 10px;
  }
  ol {
    li {
      color: var(--textColorBlue);
      padding: .2rem .5rem 1rem .5rem;

      .signType {
        margin: 0px 40px;
        float: left;
      }
      .like,
      .disLike {
        font-size: 28px;
        margin-left: 50px;
        float: right;
      }
      .like {
        color: var(--btnLike);
      }
      .disLike {
        color: var(--btnDisLike);
      }
      label:first-child {
        // float: left;
        // clear: left;
        margin-left: 20px;
      }

      label:last-child {
        // float: left;
      }
    }
  }
}
.ResultsInEn {
  padding: 3rem;
  .numPage {
    display: flex;
    justify-content: left;
    font-family: "Poppins";
    font-style: normal;
    .circle {
      box-shadow: 0px 6px 20px -2px rgba(41, 41, 41, 0.2);
      width: 40px;
      height: 40px;
      color: white;
      border-radius: 50%;
      border: 1px solid var(--btnGreen);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: bold;
      background-color: var(--btnGreen);
    }
    .currentNum {
      color: var(--btnDisLike);
      border: 3px solid var(--btnDisLike);
      background-color: white;
    }
    span {
      margin: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #5781f1;
      font-size: 18px;
      font-weight: bold;
    }
    .slash {
      font-size: 10px;
      font-weight: 300;
    }
  }
}

// f2f6ff
// 5781f1
